@font-face {
  font-family: 'PlayBook';
  src: url('fonts_ebook/PlayBook.eot');
  src: url('fonts_ebook/PlayBook.woff2') format('woff2'),
       url('fonts_ebook/PlayBook.woff') format('woff'),
       url('fonts_ebook/PlayBook.ttf') format('truetype'),
       url('fonts_ebook/PlayBook.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PlayBook';
  src: url('fonts_ebook/PlayBook-BoldItalic.eot');
  src: url('fonts_ebook/PlayBook-BoldItalic.woff2') format('woff2'),
       url('fonts_ebook/PlayBook-BoldItalic.woff') format('woff'),
       url('fonts_ebook/PlayBook-BoldItalic.ttf') format('truetype'),
       url('fonts_ebook/PlayBook-BoldItalic.eot?#iefix') format('embedded-opentype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'PlayBook';
  src: url('fonts_ebook/PlayBook-Bold.eot');
  src: url('fonts_ebook/PlayBook-Bold.woff2') format('woff2'),
       url('fonts_ebook/PlayBook-Bold.woff') format('woff'),
       url('fonts_ebook/PlayBook-Bold.ttf') format('truetype'),
       url('fonts_ebook/PlayBook-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'PlayBook-Italic';
  src: url('fonts_ebook/PlayBook-Italic.eot');
  src: url('fonts_ebook/PlayBook-Italic.woff2') format('woff2'),
       url('fonts_ebook/PlayBook-Italic.woff') format('woff'),
       url('fonts_ebook/PlayBook-Italic.ttf') format('truetype'),
       url('fonts_ebook/PlayBook-Italic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: italic;
}
